*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.main-container{
  
  position: relative;
  height: 100vh;
  
}


.dark-mode{
  background-color: #1C2130;
  height: 100%;
}

.dark-mode .logo{
  color: white;
}